{% extends "admin/base_admin.html" %}

{% block body %}

    <h3><center>Create new scenario</center></h3>
        <center><form method="POST" action="{{ url_for('create_new_scenario_view') }}">
            {{ form.hidden_tag() }}
            {{ form.crsf_token }}
            <table width="60%" cellpadding="10" cellspacing="10" class="table">
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Scenario name
                    </td>
                    <td>
                        {{ form.name(size=20, style='text-align:center') }}
                        {% for error in form.name.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Number of periods in game
                    </td>
                    <td colspan="2">
                        {{ form.duration(size=5, style='text-align:center')}} periods
                        {% for error in form.duration.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Frozen horizon
                    </td>
                    <td colspan="2">
                        {{ form.frozen_horizon(size=5, style='text-align:center')}} periods
                        {% for error in form.frozen_horizon.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                        <td>&nbsp;</td>
                        <td>
                        Demand profile
                        </td>
                        <td colspan="2">
                        {{ form.demand_profile_id }}
                        {% for error in form.demand_profile_id.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Lead time</td>
                    <td>
                        {{ form.leadtime(size=5, style='text-align:center') }} periods
                        {% for error in form.leadtime.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Forecast horizon</td>
                    <td>
                        {{ form.forecast_horizon(size=5, style='text-align:center') }} periods
                        {% for error in form.forecast_horizon.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Product cost
                    </td>
                    <td>
                        {{ form.product_cost(size=5, style='text-align:center') }} € / unit
                        {% for error in form.product_cost.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Stock cost </td>
                    <td>
                        {{ form.stock_cost(size=5, style='text-align:center') }} € / unit period
                        {% for error in form.stock_cost.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Lost sales cost
                    </td>
                    <td>
                        {{ form.lostsale_cost(size=5, style='text-align:center')}} € / unit
                        {% for error in form.lostsale_cost.errors %}
                        <br/>
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>

                    </td>

                </tr>

                <tr>
                    <td colspan="4" align="center">
                        {% if action == "Create" %}
                            <button type="submit" class="btn btn-default">Create</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        {% else %}
                            <button type="submit" class="btn btn-default">Update</button>
                        {% endif %}

                        <button type="submit" class="btn btn-default" formaction="/admin/home">Home</button>
                    </td>
                </tr>
            </table>
        </form></center>

<script>

function get_total_duration(){
    var duration = parseInt($('input[name=duration]').val());

    if(!duration)
        {
        $('#total_duration').text('00:00:00');
        return 1
        }
    var tot_duration = duration * 52;
    var hours = parseInt(tot_duration / 3600);
    var remainder = parseInt(tot_duration - (3600 * hours));
    var minutes = parseInt(remainder / 60);
    var seconds = parseInt(remainder - minutes * 60);
    $('#total_duration').text(hours+':'+minutes+':'+seconds);
}

$(document).ready(function() {
    //this first call required to update the field
    //when editing the scenario
    get_total_duration();

    $('input[name=duration]').change(function(){
            get_total_duration();
        });
});

</script>

{% endblock %}
