{% extends "baseall.html" %}

{% block content %}
<div style="width:50%;margin: 0 auto;">
    {% if user and user.is_authenticated() %}
    <center>
        <h3>Hello {{ user.login }}!</h3><br/>
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('enter_game_code_view') }}">Play a new game</a><br/><br/>
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('list_results_view') }}">List of previous results</a><br/><br/>
        <a class="btn btn-default btn-lg btn-block" href="{{ url_for('logout_view') }}">Logout</a><br/><br/>
        </center>
    {% endif %}
</div>
{% endblock %}
